body{ background-color:#9c9f84;
margin:0px;
font-family:verdana, georgia, arial;
font-size:14px;}
#header{
	background-color:#5c755e;
	margin:10px;
	height:90px;
	border-radius:5px;
}
#navbar ul{
	background-color:#000;
	margin:10px;
	height:30px;    /* it is used to make the button text in center using the height variable. */
	 line-height:30px;  
	text-align:center;
	list-style-type:none;
	border-radius:5px;
	padding:5px;
}
#navbar ul li{
	display:inline;
}
#navbar ul li a{
	text-decoration:none;
	font-family:verdana;
	padding: .5em 1em;
	color:#fff;
	background-color:#000;
	
}
#navbar ul li a:hover{
	color:#000;
background-color:#fff;}


.main{
	background-color: #e5e4d7;
	margin:10px 300px 10px 10px;
	border-radius:5px;
	padding:20px;
	font-size:110%;
}
h1{color:red;
font-size:120%;}
h2{color:blue;
font-size:120%;
}
.sidebar{
	background-color: #e5e4d7;
	margin:0px 10px 10px 10px;
	border-radius:5px;
	padding:10px;
	width:260px;
	font-size:110%;
	float:right;
	clear:right;
	}
	.image1{
	
	margin:0px 10px 10px 10px;
	border-radius:5px;
		width:280px;
	font-size:110%;
	float:right;
	clear:right;
	opacity:1.0;
	transition:opacity 0.2s ease-in-out;
	}
	.image1:hover{
	opacity:0.5;}
	
	#footer{
		background-color:#5c755e;
	margin:10px;
	height:60px;
	border-radius:5px;
	text-align:center;
	padding:15px;
	font-size:90%;
	}
	h3{
		/*position:relative;
		top:50px; this code also works fine */
		font-size:250%;
		text-align:center;
		color:#e5e4d7;
		font-family:"Century Gothic", "Gills Sans";
	margin:0px;
	
	position:relative; /* vertically aligns the text or header */
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-transform:translateY(-50%);
	} 
	
	#footer ul{
	
	margin:10px;height:30px;line-height:30px;
	text-align:center;
	list-style-type:none;
	border-radius:5px;
	padding:5px;
}
#footer ul li{
	display:inline;
}
#footer ul li a{
	text-decoration:none;
	font-family:verdana;
	padding:.2em 1em;
	color:#efe5d0;
	background-color:#5c755e;
	
}
#footer ul li a:hover{
	color:#000;
background-color:#fff;}